<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="C2.Integratrex.SmtpCredentials" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!-- Application Settings-->
  <appSettings>
    <add key="Integratrex.Config" value="..\..\..\IntgxWeb\Config\Service.Config.xml" />
    <add key="Integratrex.Config.Namespace" value="c2infosys.com/Integratrex/Service.Config.xsd" />
    <add key="BusinessCalendar.Folder" value="..\..\..\IntgxWeb\Calendar" />
    <add key="BusinessCalendar.Namespace" value="c2infosys.com/Common/BusinessCalendar.xsd" />
    <add key="Integratrex.Xml.Queue" value=".\Private$\integratrex_xml" />
    <add key="Integratrex.Sys.Queue" value=".\Private$\integratrex_sys" />
    <!-- identifies dynamic text elements -->
    <add key="DynamicTextIdentifier" value="?" />
    <!-- integration working folder -->
    <add key="WorkFolder" value="C:\Sandbox\Integratrex\Intgx_Work" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <!-- More Application Settings -->
  <applicationSettings>
    <!-- SMTP Server Credentials -->
    <C2.Integratrex.SmtpCredentials>
      <setting name="User" serializeAs="String">
        <value>svc_geneva-prod@brookfield.com</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>G3n3va20!4</value>
      </setting>
    </C2.Integratrex.SmtpCredentials>
  </applicationSettings>
  <!-- database connections -->
  <connectionStrings>
    <add name="GenevaProxy" connectionString="Data Source=NA1BFSQL11D;Initial Catalog=GenevaProxy;Integrated Security=True;" />
  </connectionStrings>
  <!-- email config -->
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtp.brookfield.com" port="25" defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>