<log4net>
  
  <root>
    <level value="ALL" />    
  </root>

  <logger name="DebugLog">
    <level value="ALL" />
    <appender-ref ref="Debug" />
  </logger>
  
  <logger name="XMLQueueLog" >
    <level value="ALL" />
    <appender-ref ref="Service" />
  </logger>

  <logger name="ServiceLog">
    <level value="ALL" />
    <appender-ref ref="Service" />
  </logger>

  <logger name="IntegrationLog">
    <level value="ALL" />
    <appender-ref ref="Integration" />
  </logger>

  <appender name="Debug" type="log4net.Appender.RollingFileAppender">
    <file value="C:\Sandbox\debug.log" />
    <param name="ImmediateFlush" value="true" />
    <appendToFile value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%utcdate %timestamp [%thread] %level %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="Service" type="log4net.Appender.RollingFileAppender">
    <file value="C:\Sandbox\service.log" />
    <param name="ImmediateFlush" value="true" />
    <appendToFile value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%utcdate %timestamp [%thread] %level %logger - %message%newline" />
    </layout>
  </appender>

  
  <appender name="Integration" type="log4net.Appender.RollingFileAppender">
    <file value="C:\Sandbox\integration.log" />
    <param name="ImmediateFlush" value="true" />
    <appendToFile value="true" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%utcdate %timestamp [%thread] %level %logger - %message%newline" />
    </layout>
  </appender>
  
</log4net>